@import 'normalize';
@import 'lightgallery.min';
@import 'lg-transitions.min';


/********************
YOUR STYLES
*******************/

lg.backdrop {
    background-color:white;
}

figure {
    display: inline-flex;
    flex-wrap:wrap;
    flex-flow:column;
    margin: 2px;
          
}

h1 {
      
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family:futura;
    font-weight: bold;
    font-size:13em;
    
}

figure figcaption {
    font-family: english towne;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.caption {
  display: none;
    
}

// CURSOR STYLES thumbnails

.refresh a {
     cursor: url(http://i.imgur.com/7O6ce0r.png), pointer;
    
}

.and a {
    cursor: url(http://i.imgur.com/OpVHc9n.png), pointer;
    
}

.crybaby a {
    cursor: url(http://i.imgur.com/NZiuMgX.png), pointer;
    
}

.local a {
    cursor: url(http://i.imgur.com/cnxhgJQ.png), pointer;
    
}

h1 {
    cursor: url(http://i.imgur.com/OpVHc9n.png), pointer;
    
}

.lg-outer.lg-grab img.lg-object {
    cursor: url(http://i.imgur.com/oLL7DZs.png), pointer;
    
}


//lightgallery style


lg.backdrop.in {
    opacity: .5;
    
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background: none;
    
}

.lg-sub-html, .lg-toolbar {
    background-color: whitesmoke;
    opacity: 1;
    color: gray;
}

.lg-outer{
    transition: background-color 600ms ease 0s;
}

.lg-backdrop.in {
    opacity: .75;
}

//hide figures

.and, .refresh, .crybaby {
    display:none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

figure {
    width:100%;
        
}
    
img {
    width: 100%;
    height:auto;
    
}

main {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;   
    
}
    
h1 {
    font-size:5em;
    margin-top: 3em;
    
}
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 40em)  {

    
figure {
        width:95%;
        
}

img {
    width: 100%;
    height:auto;
    
}
      
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 45em) { 
    
.gallery {
    display:inline-flex;
    flex-flow:row;
    align-content: stretch;
    width:100%;
        
}
    
figure {
        width:100%;
        
    }

h1 {
      
    width: 100%;
    text-transform: uppercase;
    font-family:futura;
    font-weight: bold;
    font-size:13em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    
    
}
    
    //Main container



}