@import 'normalize';
@import 'lightgallery.min';
@import 'lg-transitions.min';


/********************
YOUR STYLES
*******************/




body {
    background: pink;
}
main {
    display:flex;
    flex-wrap: wrap;
    
}

figure {
    background: hotpink;
    width:100%;
    padding: 20px;
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    
}
figure figcaption {
    font-family: english towne;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.caption {
  display: none;
}

img {
    
    
}










/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
figure {
    
    width:100%;
        
    }
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }
    
    figure {
    
    width:95%;
    
        
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
    
    figure {
    
    width:95%;
        
    }
    
    //Main container

.gallery {
    width:95%;
    margin: 0 auto;
    
}

}