@import 'normalize';
@import 'lightgallery.min';
@import 'lg-transitions.min';


/********************
YOUR STYLES
*******************/


h1{
    color: white;
}
body {
     
}
figure {
    width:100%;
    padding: 20px;
    margin: 0;
    
    display: flex;
    flex-wrap:wrap;
    align-items:stretch;
    
    
}
main {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;   
    
}
h1:hover {
    cursor: pointer;
    color: #e0dbd6;
    
}

figure figcaption {
    font-family: english towne;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.caption {
  display: none;
    
}
img {
    width: 50%;
    height:auto;
    
}

// CURSOR STYLES thumbnails

.refresh a {
     cursor: url(http://i.imgur.com/7O6ce0r.png), pointer;
    
}

.and a {
    cursor: url(http://i.imgur.com/OpVHc9n.png), pointer;
    
}

.crybaby a {
    cursor: url(http://i.imgur.com/NZiuMgX.png), pointer;
    
}




//img cursor global styles make a thumb one?


.lg-outer.lg-grab img.lg-object {
    cursor: url(http://i.imgur.com/oLL7DZs.png), pointer;
    
}







/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
figure {
    width:100%;
        
    }
img {
    width: 100%;
    height:auto;
    
}
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {

  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }
    
    figure {
        width:95%;
        
    }
    img {
    width: 70%;
    height:auto;
    
}

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
    
    figure {
        width:95%;
        
    }
    
    //Main container

.gallery {
    width:95%;
    margin: 0 auto;
    
}

}